@model IEnumerable<qlbanhang.ViewModel.orderdetailViewModel>
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>User</h1>
<table style="width:100%; margin-bottom:500px">
    <tr class="title">
        <th>Code bill</th>
        <th>Code product</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>UnitPrice</th>
        <th>Total</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OrderId</td>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Quantity</td>
            <td>@item.UnitPrice</td>
            <td>@item.Discount</td>
            @if (@item.Status == 1)
            {
                <td>Processing</td>
            }
            else
            {
                <td>None</td>
            }
        </tr>
    }
    <tr>
        <td colspan="8" style="font-size:50px;font-weight:300">Total amount: @Model.Sum(p =>p.Discount) VNĐ</td>
    </tr>
</table>
