@model IEnumerable<qlbanhang.ViewModel.CartItem>
@{
    Layout = "_LayoutUser";
}
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
	<div class="container">
		<div class="inner-sec-shop px-lg-4 px-3">
			<h3 class="tittle-w3layouts my-lg-4 mt-3"> checkout </h3>
			@if (Model.Count() > 0)
			{
				<div class="checkout-right">
					<h4>
						Your shopping cart contains:
						<span>@Model.Count() Products</span>
					</h4>
					<table class="timetable_sub">	
						<thead>
							<tr>
								<th>Product id</th>
								<th>Picture</th>
								<th>Product Name</th>
								<th>quantity</th>
								<th>Price</th>
							</tr>
						</thead>
						@foreach (var item in Model)
						{
							<tbody>
								<tr class="rem1">
									<td class="invert">@item.ProductId</td>
									<td class="invert-image">
										<img src="@Url.Content(item.Picture)" alt="" class="img-responsive" style="width: 15%;">
									</td>
									<td class="invert">
										<div class="quantity">
											<div class="quantity-select">
												<div class="entry value-minus">&nbsp;</div>
												<div class="entry value">
													<span>@item.ProductName</span>
												</div>
												<div class="entry value-plus active">&nbsp;</div>
											</div>
										</div>
									</td>
									<td class="invert">@item.quantity</td>

									<td class="invert">@item.UnitPriceSS</td>
									<td class="invert">
										<div class="rem">
											<div class="close1"> </div>
										</div>

									</td>
								</tr>
							</tbody>
						}
					</table>
				</div>
				@*<div class="checkout-left row">*@
				<div class="checkout-right-basket">
					<div class="col-md-4 checkout-left-basket">
						<h4>Continue to basket</h4>
						@foreach (var item in Model)
						{
							<ul>
								<li>
									@item.ProductName (x @item.quantity)
									<i>-</i>
									<span>@item.TotalUnits </span>
								</li>
							</ul>
						}
						<span>Total: @Model.Sum(p => p.TotalUnits)</span> <br>
						<a asp-action="checkout" asp-controller="Cart" class="link-product-add-cart">Proceed Checkout</a>
					</div>
					<div class="col-md-8 address_form">
						<h4>Please fill full the information </h4>
						<form asp-action="Checkout" asp-controller="Cart" method="post" class="creditly-card-form agileinfo_form">
							<section class="creditly-wrapper wrapper">
								<div class="information-wrapper">
									<div class="first-row form-group">
										<div class="controls">
											<label class="control-label">Full your name </label>
											<input class="billing-address-name form-control" type="text" name="ShipName" id="ShipName" placeholder="Full name">
										</div>
										<div class="card_number_grids">
											<div class="card_number_grid_left">
												<div class="controls">
													<label class="control-label">Address</label>
													<input class="form-control" type="text" name="ShipAddress" id="ShipAddress" placeholder="Address">
												</div>
											</div>
											<div class="card_number_grid_right">
												<div class="controls">
													<label class="control-label">Your gmail </label>
													<input class="form-control" type="text" name="mail" id="mail" placeholder="your gmail">
												</div>
											</div>
											<div class="card_number_grid_right">
												<div class="controls">
													<label class="control-label">Chose Ship date </label>
													<input class="form-control" type="date" my-date="" name="ShipDate" id="ShipDate" my-date-format="DD/MM/YYYY, hh:mm:ss" value="2015-08-09">
												</div>
											</div>											
											<div class="clear"> </div>
										</div>					
									</div>
									<button class="submit check_out">Make a Payment</button>
								</div>
							</section>
						</form>
						@*<div class="checkout-right-basket">
							<a href="payment.html">Make a Payment </a>
						</div>*@
					</div>
					<div class="clearfix"> </div>

				</div>
			}
			else
			{
				@ViewBag.Notdata
			}

		</div>

	</div>
</section>